/* --------- RESET -------- */


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

 /* --------- MAIN -------- */


body{
    font-family: 'Lato', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: rgb(212,219,217);
    background: linear-gradient(0deg, rgba(212,219,217,1) 43%, rgba(0,150,136,1) 43%); */
   background-image: url("../img/Senza\ titolo-1.png");
    
}

.container{
    height: calc(100vh - 50px);
    margin: auto auto;
    width: 1100px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    
    display: flex;
}

.left-section{
    width: 33.33%;
    background-color: #eaeaea;
    border-right: 1px solid lightgray;
    display: flex;
    flex-direction: column;

}

.me-dashboard{
    display: flex;
    justify-content: space-between;
}

.left-me-box{
    background-color: #eaeaea;
    height: 60px;
    display: flex;
    align-items: center;
}

.right-me-box{
    background-color: #eaeaea;
    height: 60px;
    display: flex;
    align-items: center;
    
}

.right-me-box i{
    color: grey;
    margin: 10px;
    cursor: pointer;
}

.user-avatar img{
    width: 100%;
    border-radius: 50%;
    cursor: pointer;
}

.user-avatar img:hover{
    border: 2px solid #8edafc;
}

.user-avatar{
    width: 40px;
    height: 40px;
    margin: 5px;
    
}

.notification-box{
    background-color: #8edafc;
    height: 60px;
    display: flex;
    align-items: center;
}

.notification-icon{
    display: flex;
    align-items: center;
    height: 40px;
    width: 40px;
    
   
}

.notification-icon i{
    color: white;
    margin-left: 15px;
    font-size: 25px;
    
}
.notification-link{
    margin-left: 20px;
}
.notification-link a{
    color: grey;
    font-size: 12px;
}

.search-box{
    background-color: #fafafa;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box i{
    color: grey;
    
}
.src-btn{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #e9ebeb;
    background-color: white;
}

.src-input{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 300px;
    border: 1px solid #e9ebeb;
}
.contact-box{
    background-color: white;
    overflow: auto;
    flex-grow: 1;
}

.contact{
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 5px;
    border-bottom: 1px solid #e9ebeb;
    cursor: pointer;
    
}

.contact:hover{
    background-color: #e9ebeb;
}

.small-grey{
    font-size: 12px;
    color: grey;
}

.active{
    background-color: #e9ebeb;
}
.contact-preview{
    display: flex;
    align-items: center;
}

.user-fullname{
    margin: 5px;
}
.right-section{
    width: 66.66%;
    
    display: flex;
    flex-direction: column;
    
}

.l-contact-box{
    display: flex;
    align-items: center;
    height: 60px;
}

.r-contact-box{
    display: flex;
    align-items: center;
    height: 60px;
}

.r-contact-box i{
    margin: 10px;
    color: grey;
    cursor: pointer;
}

.chat-contact-box{
    background-color: #eaeaea;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.chat{
    background-image: url("../img/mine.jpg");
    flex-grow: 1;
}

.chat-container{
    width: 700px;
    margin: auto;
    padding-top: 15px;
    
}

.chat-text{
    
    
    /* width: 300px; */
}

.container-flex-l{
    display: flex;
    justify-content: flex-start;
    
}

/* .container-flex-r{
    display: flex;
    
    
} */


.received{
    background-color: white;
    display: flex;
    justify-content: flex-start;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 10px;
    
    
}

.sent{
    display: flex;
    background-color: #d5f9ba;
    justify-content: flex-end;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 10px;
    
    
}
.qwerty{
    background-color: #f3eeea;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-message{
    width: 600px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #e9ebeb;
    border-radius: 5px;
}

.emoji{
    padding-left: 20px;
    font-size: 20px;
    color: grey;
    cursor: pointer;
}

.mic{
    padding-right: 20px;
    font-size: 20px;
    color: grey;
    cursor: pointer;
}