/* --------- RESET -------- */


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

 /* --------- MAIN -------- */


body{
    font-family: 'Lato', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: rgb(212,219,217);
    background: linear-gradient(0deg, rgba(212,219,217,1) 43%, rgba(0,150,136,1) 43%); */
   background-image: url("../img/Senza\ titolo-1.png");
    
}

.container{
    height: calc(100vh - 50px);
    margin: auto auto;
    width: 1100px;
   
    
    display: flex;
}

.left-section{
    width: 33.33%;
    background-color: #eaeaea;
    border-right: 1px solid lightgray;

}

.right-section{
    width: 66.66%;
    background-image: url("../img/mine.jpg");
    
}